.header
{
    background-color: rgb(0, 0, 0);
    display: flex;
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
}
a
{
    color: white;
    font-weight: 200;
    text-decoration: none;
    margin: 0px 10px ;
}
body
{
    background-color: black;
    padding: 0px;
}
html
{
    padding: 0px;
    background-color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Container
{
    /* background-color: yellow; */
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-right: 10px;
    margin-left: 10px;
}
.Card
{
    /*#background-color:rgb(178, 149, 113);*/
    /*margin: 0px 10px;
    /* padding: 10px; */
    width: 200px;
    border: 1px solid black;
}
.Card:hover
{
    color: black;  
    box-shadow: 5px 5px 10px #888888;
}
.intro
{
    background-color: rgb(0, 0, 0);
    display: flex;
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    height: fit-content;
}
.icons
{
    background-color: rgb(0, 0, 0);
    display: flex;
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: fit-content;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
 }
 body, html 
 {
    height: 100%;
    background-color: black;
 }

 .fixnav{
    position: fixed !important;
    z-index: 10px !important;
    width: 100vw;
 }

 .gallery-container{
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    padding-top: 100px;
    justify-content: center;
    /* height: 100vh; */

 }

 .gallery-container img{
    margin: 5px;
 }

 .gallery-container img:hover{
    margin: 5px;
    box-shadow: 0px 0px 10px gray;
    transform: scale(1.1);
 }